#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

#white{
	color: white;

}

#logo{
	height: 100px;
	width: 500px;
  padding-left: 20px;
}


/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
  width: 87%;
  border-radius: 1em;
  left: 50px;
  margin-left: 20px;

}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 190px ;
  text-decoration: none;
  font-size: 17px;
  align-content : center; 
  font-weight : bold ; 
 
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#btt {
  float: right ;
  position: relative;
  top: -50px ; 
  padding: 15px 15px 15px 15px ; 
  margin-left: 10px;
  border-radius: 5em ; 
  border-color: blue ; 
  border-width: 10;
}

