#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

#white{
	color: white;
}

#logo{
	height: 100px;
	width: 500px;
    padding-left: 20px;
}


/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
  width: 86%;
  border-radius: 1em;
  left: 50px;
  margin-left: 20px;
  box-shadow: 3px 6px;

}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 190px ;
  text-decoration: none;
  font-size: 17px;
  align-content : center; 
  font-weight : bold ; 
 
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#btt {
  float: right ;
  position: relative;
  top: -50px ; 
  padding: 15px 15px 15px 15px ; 
<<<<<<< HEAD
  margin-left: 5px;
  border-radius: 5em ; 
  border-color: black ; 
  border-width: 15;
 
=======
  margin-left: 8px;
  border-color: black ; 
  text-decoration-color: black ; 
  font-size: 13px;
  box-shadow: 3px 6px;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0px;
  margin-top: 200px;

}

.sidenav a {
  margin-left: -15px;
  margin-center: 0px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #064579;

}


.main {
  margin-right: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px 0px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
>>>>>>> 87d4f0c05714771270aef50d39ea03894d8d8e10
}

