<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/style.css' %}">


<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>

            {% block title_block %}
               FashiONpoint
            {% endblock %}

        </title>
        <img id="logo" src="{% static "images/logo.png"%}" />.
    </head>

    <body id="bg" style="background-image: url('{% static "images/background.jpg"%}')";>
	
        <hr />

        <div>
            
            {% block top_bar %}
            <div class="topnav">
        			<a class="active" href="{% url 'index' %}">Home</a>
        			<a href="{% url 'categories' %}">Categories</a>
        	</div>
            {% endblock %}


            <button id="btt" type="button">Log in</button>
            <button id="btt" type="button">Sign up</button>

        </div>

        <div>
            {% block body_block %}

            {% endblock %}
        </div>

  

     
		<div class="navbar">
			<hr />
			<a href="">Contact Us</a>
			<a href="">About us</a>
			<a href="">Site Map</a>
		</div>
	 
	 
    </body>

</html>