<!DOCTYPE html>
{% load staticfiles %}
{% load fashionpointapp_template_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/style.css' %}">


<html>
    <head lang="en">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'fashionpointapp/functions.js' %}"></script>
        <meta charset="UTF-8" />
        <title>

            {% block title_block %}
               FashiONpoint
            {% endblock %}

        </title>
        <a href="{% url 'index' %}"> <img id="logo" src="{% static "images/logo.png"%}" /> <a/>
    </head>

    <body id="bg" style="background-image: url('{% static "images/background.jpg"%}')";>

        <hr />
	 {% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
					{{ message }}
			 </div>
		{% endfor %}
	{% endif %}
	    <div>
            {% block top_bar %}

                {% if user.is_authenticated %}
                <div class="topnav" style="width: {{length}}%;">
                        {% if pos == 1 %}
                        <a class="active" href="{% url 'index' %}">Home</a>
                        {% else %}
                        <a href="{% url 'index' %}">Home</a>
                        {% endif %}

                        {% if pos == 2 %}
                         <a class="active" href="{% url 'categories' %}">Categories</a>
                        {% else %}
                        <a href="{% url 'categories' %}">Categories</a>
                        {% endif %}

                        {% if pos == 3 %}
                        <a class="active" href="{% url 'newpost' %}">New Post</a>
                        {% else %}
                        <a href="{% url 'newpost' %}">New Post</a>
                        {% endif %}

                          {% if pos == 6 %}
                        <a class="active" href="{% url 'newpoll' %}">New Poll</a>
                        {% else %}
                        <a href="{% url 'newpoll' %}">New Poll</a>
                        {% endif %}

                        <a href="{% url 'categories' %}">My Account</a>
                </div>
                {% else %}

                <div class="topnav">
                        {% if pos == 1 %}
                        <a class="active" href="{% url 'index' %}">Home</a>
                        {% else %}
                        <a href="{% url 'index' %}">Home</a>
                        {% endif %}

                        {% if pos == 2 %}
                         <a class="active" href="{% url 'categories' %}">Categories</a>
                        {% else %}
                        <a href="{% url 'categories' %}">Categories</a>
                        {% endif %}

                </div>
                {% endif %}
            

            {% endblock %}
            {% if user.is_authenticated %}
                <button id="btt" style="height: 48px;" href="{% url 'categories' %}">
                    <p id="c1">{{ user.first_name }}</p>
                    <img id="profilepic" src ="{{userProfile.picture.url}}"/> 
                </button>
                <button id="btt" type="button" onclick="window.location.href='{% url 'logout' %}'">Log out</button>
            {% else %}
                {% if pos == 4 %}
                <button style="color: #2196F3;" id="btt" type="button" onclick="window.location.href='{% url 'login' %}'">Log in</button>
                {% else %}
                <button id="btt" type="button" onclick="window.location.href='{% url 'login' %}'">Log in</button>
                {% endif %}


                {% if pos == 5 %}
                <button style="color: #2196F3;" id="btt" type="button" onclick="window.location.href='{% url 'signup' %}'">Sign up</button>
                {% else %}
                <button id="btt" type="button" onclick="window.location.href='{% url 'signup' %}'">Sign up</button>
                {% endif %}

                
             {% endif %}

        </div>

        <div>
            {% block body_block %}

            {% endblock %}
        </div>


    {% block list %}
    <div class="sidenav">
        {% get_category_list category %}
    </div>
    {% endblock %}
     
		<div class="navbar">
			<hr />
			<a href="{% url 'contact_us' %}">Contact Us</a>
			<a href="{% url 'about_us' %}">About us</a>
			<a href="{% url 'sitemap' %}">Site Map</a>
		</div>
	 
	 
    </body>

</html>