<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/style.css' %}">


<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>

            {% block title_block %}
               FashiONpoint
            {% endblock %}

        </title>

    </head>

    <body id="bg" style="background-image: url('{% static "images/background.jpg"%}')";>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <hr />
        <div>



        </div>

        <div>
            {% block sidebar_block %}

            {% endblock %}
        </div>



    </body>

</html>