{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}
{% block top_bar %}
	<div class="topnav">
		<a href="{% url 'index' %}">Home</a>
		<a class="active" href="{% url 'categories' %}">Categories</a>
		 {% if user.is_authenticated %}
			<a href="{% url 'categories' %}">New Post</a>
			<a href="{% url 'categories' %}">New Poll</a>
			<a href="{% url 'categories' %}">My Account</a>
		{% endif %}
	</div>
{% endblock %}


{% block body_block %}
    <h1 class='main' id="white""> {{ category.name }} </h1>
{% endblock %}
