{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
 FashionPoint

{% endblock %}

{% block body_block %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/form.css' %}">
		<script>
				var inc = 0;
				function next(){
					inc+=3;
					$.ajax({
						type:"GET",
						url: "{% url 'updatePosts'%}",
						data: {'inc': inc}})
						.done(function(response) {
								document.getElementById("everything").innerHTML=response;
					});
				}
				function prev(){
					inc-=3;
					$.ajax({
						type:"GET",
						url: "{% url 'updatePosts'%}",
						data: {'inc': inc}})
						.done(function(response) {
								document.getElementById("everything").innerHTML=response;
					});
				}
				var inc2 = 0;
				function nextPolls(){
					inc2+=2;
					$.ajax({
						type:"GET",
						url: "{% url 'updatePolls'%}",
						data: {'inc': inc2}})
						.done(function(response) {
								document.getElementById("everything2").innerHTML=response;
					});
				}
				function prevPolls(){
					inc2-=2;
					$.ajax({
						type:"GET",
						url: "{% url 'updatePolls'%}",
						data: {'inc': inc2}})
						.done(function(response) {
								document.getElementById("everything2").innerHTML=response;
					});
				}

			</script>
	<div class="main">
	<div id="formContent2" style="max-height:90px;max-width:960px;margin:0px 0px 50px 110px;text-align:top;background: #d0f8ff;" >
	<label style="Color:Black; font-size:20px;font-family: 'Poppins', sans-serif; ">Review Posts
	</label></div>
        <div class=whitehead id="everything">
		{% if state1 != 1 %}
		<div id="formContent2" style="margin-left:20px; margin-right:-80px;max-width:70px; margin-top:190px;animation:arrive 800ms ease-in-out 0s forwards;">
				<img class="arrow" style="margin-left: -10px;" onclick="prev();" src="{% static "images/left.png"%}">
		</div>
		{%endif%}
		<div id="formContent2" {% if state1 == 1 %}
			 style="margin-left:115px;margin-right:-80px;"
			 {%else%}
			 style="margin-right:-80px;"
			 {% endif %}>
			<div id="ties1">
			{% for i in onp1%}
				<img class="tie" src="{% static 'images/54458077_364690717465481_2362712318992711680_n.png'%}"/>
			{%endfor%}
			{%if hp1 == 1%}
				<img class="tie" src="{% static 'images/53856595_2337553366296088_1102890933814296576_n.png'%}"/>
			{%endif%}
			{% for i in offp1%}
				<img class="tie" src="{% static 'images/54255324_381448649078050_8592250154898161664_n.png'%}"/>
			{%endfor%}
			</div>
			<hr/>
			<a href="{% url 'show_post' post1%}"><img class="postPic" src="/media/{{post1.photo}}"></a>
			<hr/>
			<label>{{post1.description}}</label>
			<hr/>
			</div>
		<div id="formContent2" style="margin-right:-80px;animation: arrive 1200ms ease-in-out 0s forwards;">
			<div id="ties2">
			{% for i in onp2%}
				<img class="tie" src="{% static 'images/54458077_364690717465481_2362712318992711680_n.png'%}"/>
			{%endfor%}
			{%if hp2 == 1%}
				<img class="tie" src="{% static 'images/53856595_2337553366296088_1102890933814296576_n.png'%}"/>
			{%endif%}
			{% for i in offp2%}
				<img class="tie" src="{% static 'images/54255324_381448649078050_8592250154898161664_n.png'%}"/>
			{%endfor%}
			</div>
			<hr/>
            <a href="{% url 'show_post' post2%}"><img class="postPic" src="/media/{{post2.photo}}"></a>
			<hr/>
			<label>{{post2.description}}</label>
			<hr/>
		</div>
		<div id="formContent2" style="margin-right:-80px;animation: arrive 1400ms ease-in-out 0s forwards;">
			<div id="ties3">
			{% for i in onp3%}
				<img class="tie" src="{% static 'images/54458077_364690717465481_2362712318992711680_n.png'%}"/>
			{%endfor%}
			{%if hp3 == 1%}
				<img class="tie" src="{% static 'images/53856595_2337553366296088_1102890933814296576_n.png'%}"/>
			{%endif%}
			{% for i in offp3%}
				<img class="tie" src="{% static 'images/54255324_381448649078050_8592250154898161664_n.png'%}"/>
			{%endfor%}
			</div>
			<hr/>
			<a href="{% url 'show_post' post3%}" ><img class="postPic" src="/media/{{post3.photo}}"></a>
			<hr/>
			<label>{{post3.description}}</label>
			<hr/>
		</div>
			{% if state2 != 1 %}
			<div id="formContent2" style="max-width:70px; margin-top:190px;animation:arrive 1600ms ease-in-out 0s forwards;">
			<img class="arrow"
			{% if state1 != 1 %}
				 style="margin-top: -30px;"
			{% endif %}
			onclick="next();" src="{% static "images/right.png"%}">
			</div>
			{%endif%}
		</div>
		<div id="formContent2" style="max-height:90px;max-width:960px;margin:80px 0px 80px 110px;text-align:top;background: #d0f8ff;" >
<label style="Color:Black; font-size:20px;font-family: 'Poppins', sans-serif; ">Vote on Polls
</label>
	</div>
		<div class=whitehead style="margin-top:0px;" id="everything2">
		{% if state3 != 1 %}
		<div id="formContent2" style="margin-left:20px; margin-right:-80px;max-width:70px; margin-top:140px;animation:arrive 800ms ease-in-out 0s forwards;">
				<img class="arrow" style="margin-left: -10px;" onclick="prevPolls();" src="{% static "images/left.png"%}">
		</div>
		{%endif%}
		<div id="formContent2" style="{% if state1 == 1 %}
			 margin-left:115px;
			 {% endif %}
			 margin-right:-80px;max-width:463px">
			<hr/>
			<div id="poll" style="display: inline-block;margin-top:15px;margin-bottom:15px;transition-duration: 0.25s;">
			<a href="{% url 'show_poll' poll1%}">
                <img class="pollPic" src="/media/{{poll1.picture1}}">
			<img class="pollPic" src="/media/{{poll1.picture2}}">
                                </a>

			</div>
			<hr/>
			<label>{{poll1.description}}</label>
			<hr/>
		</div>
			<div id="formContent2" style="margin-right:-80px;max-width:463px">
			<hr/>
			<div id="poll" style="display: inline-block;margin-top:15px;margin-bottom:15px;transition-duration: 0.25s;">
                <a href="{% url 'show_poll' poll2%}">
			<img class="pollPic" src="/media/{{poll2.picture1}}">
			<img class="pollPic" src="/media/{{poll2.picture2}}">
                                    </a>

			</div>
			<hr/>
			<label>{{poll2.description}}</label>
			<hr/>
		</div>
			{% if state4 != 1 %}
			<div id="formContent2" style="max-width:70px; margin-top:140px;animation:arrive 1400ms ease-in-out 0s forwards;">
			<img class="arrow"
			{% if state3 != 1 %}
				 style="margin-top: -30px;"
			{% endif %}
			onclick="nextPolls();" src="{% static "images/right.png"%}">
			</div>
			{%endif%}
		</div>
		</div>
{% endblock %}