{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}
{% block top_bar %}
            <div class="topnav">
        			<a href="{% url 'index' %}">Home</a>
        			<a href="{% url 'categories' %}">Categories</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'newpost' %}">New Post</a>
                        <a href="{% url 'categories' %}">New Poll</a>
                        <a href="{% url 'categories' %}">My Account</a>
                    {% endif %}
        	</div>
{% endblock %}
{% block body_block %}
           <div class="wrapper fadeInDown">
           <link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/login.css' %}">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- Icon -->


    <!-- Login Form -->
    <form id="login_form" method="post" action="{% url 'login' %}">

        {% csrf_token %}
     username: <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
     password: <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">


      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
{% endblock %}
