{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}
    {% block body_block %}
<div class="wrapper fadeInDown">
           <link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/login.css' %}">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- Icon -->
      </br>
      <label>{{type}}</label>

    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="Log in" />
    <br />
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    <br />
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
</form>
</div>

</div>
{% endblock %}
