{% load staticfiles %}
{% if state3 != 1 %}
		<div id="formContent2" style="margin-left:20px; margin-right:-80px;max-width:70px; margin-top:140px;animation:arrive 800ms ease-in-out 0s forwards;">
				<img class="arrow" style="margin-left: -10px;" onclick="prevPolls();" src="{% static "images/left.png"%}">
		</div>
		{%endif%}
		<div id="formContent2" style="{% if state1 == 1 %}
			 margin-left:115px;
			 {% endif %}
			 margin-right:-80px;max-width:463px">
			<hr/>
			<div id="poll" style="display: inline-block;margin-top:15px;margin-bottom:15px;transition-duration: 0.25s;">
				<a href="{% url 'show_poll' poll1%}">
			<img class="pollPic" src="/media/{{poll1.picture1}}">
			<img class="pollPic" src="/media/{{poll1.picture2}}">
								</a>
			</div>
			<hr/>
			<label>{{poll1.description}}</label>
			<hr/>
		</div>
			<div id="formContent2" style="margin-right:-80px;max-width:463px">
			<hr/>
		<div id="poll" style="display: inline-block;margin-top:15px;margin-bottom:15px;transition-duration: 0.25s;">
				<a href="{% url 'show_poll' poll2%}">
			<img class="pollPic" src="/media/{{poll2.picture1}}">
			<img class="pollPic" src="/media/{{poll2.picture2}}">
					                </a>

			</div>
			<hr/>
			<label>{{poll2.description}}</label>
			<hr/>
		</div>

			{% if state4 != 1 %}
			<div id="formContent2" style="max-width:70px; margin-top:140px;animation:arrive 1400ms ease-in-out 0s forwards;">
			<img class="arrow" onclick="nextPolls();" src="{% static "images/right.png"%}">
			</div>
			{%endif%}