{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Poll  {{ poll.id }}
{% endblock %}


{% block body_block %}



    <script type="text/javascript">

     $(document).ready(function() {

         $("#image1").click(function (event) {

                 $.ajax({
                url: '{% url 'click'  poll %} ',
                type: "POST",
                dataType: "json",
                data: {


                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    picture:1
                    },


         });

         });

         $("#image2").click(function (event) {

                                 $.ajax({

                url: '{% url 'click'  poll %} ',
                type: "POST",
                dataType: "json",
                data: {

                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    picture:2
                    },


         });


             });

            $("#commentbutton").click(function (event) {


        var comment = document.getElementById("AcutalComment").value ;


         $.ajax({
                url: '{% url 'makepollComment' poll %} ',
                type: "POST",
                dataType: "json",
                data: {
                    comment: comment ,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    },

            }).always(function () {
               $.ajax({
                url: '{% url 'update_pollcomments' poll %} ' ,
                type: "GET"}).done(function (response) {
                    document.getElementById('commentstab').innerHTML=response
                  })
         });
         document.getElementById("AcutalComment").value = "";
         });





     }) ;






    </script>

    <div class = "post1">

    <h1 id="mytitle"> {{ poll.userPofile.user.first_name }} Is Wondering :  🤔  </h1>

        <div class="row1">
        <div class="column1">
            <img id="image1" onclick="showclicks() " class = "pollimage" src="/media/{{ poll.picture1 }}">
            <p id="clicks1"> {{ poll.picture1Clicks }} Clicks</p>
        </div>
        <div style="flex: 33.3%;">
            <h1 id="mytitle">OR</h1>
        </div>
         <div class="column1">
             <img id="image2" onclick="showclicks() " class = "pollimage" src="/media/{{ poll.picture2 }}"> <br />
              <p id="clicks2" ONCLICK=""> {{ poll.picture2Clicks }} Clicks</p>
        </div>
</div>




    <h1 id="discriptionwhite"> {{ poll.description }} </h1>


           <div >
                <div id="commentstab">
             {% for p in Comments %}
                     <span id="username"> {{p.userPofile.user.first_name }} </span>  <span id ="comment"> : {{ p.comment}} </span>  <span id="date">{{ p.date }}</span>
                     <hr />
              {% endfor %}

            </div>
            <br />

                <p style="font-weight: bold">Give Your Opinion</p>  <input id="AcutalComment" type="text" size="5" maxlength="265" style="max-width: 500px"/><br />
                <button class="ratebutton"style="margin-right: 30px" id = "commentbutton" class="submit clearfix">Post it </button>


             </div>



    </div>

{% endblock %}
