{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}


{% block title_block %}
    A new post
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/form.css' %}">
    <div class="user">
          <div id="formContent">

<header style='margin: 0px 8px 0px 8px;' class="user__header">
        <h2 class="active">Create a Poll</h2>
    </header>

<form  id="PollForm" method="post" action="/fashionpoint/newpoll/"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class =whitehead>
        {{form}}
        </div>
    <input style="margin: 50px 20px 20px 20px;" type="submit" value="Ask the PEOPLE !">
</form>
          </div>
</div>
{% endblock %}