{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}


{% block title_block %}
    A new post
{% endblock %}
 {% block top_bar %}
            <div class="topnav">
        			<a href="{% url 'index' %}">Home</a>
        			<a href="{% url 'categories' %}">Categories</a>
                    {% if user.is_authenticated %}
                        <a class="active" href="{% url 'newpost' %}">New Post</a>
                        <a href="{% url 'categories' %}">New Poll</a>
                        <a href="{% url 'categories' %}">My Account</a>
                    {% endif %}
        	</div>
            {% endblock %}
{% block body_block %}
    <h1 id=mylabel >Create a new post</h1>
    <hr>

<form  id="PostForm" method="post" action="/fashionpoint/newpost/"  enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div style="color:white;">
                {{ form.path }}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            </div>
        {% endfor %}

    <button type="submit" class="registerbtn" >Post</button>
</form>

{% endblock %}