{% extends 'fashionpointapp/base.html' %}
{% load fashionpointapp_template_tags %}
{% load staticfiles %}
{% block title_block %}
    Sign Up
{% endblock %}
{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'fashionpointapp/form.css' %}">
    <div class="user">
   <div id="formContent2">
    <header class="user__header">
        <h2 class="active">Sign up</h2>
    </header>

     <form class="form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class =whitehead>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        </div>
    <input type="submit" value="Register">
    </form>
    </div>
</div>
{% endblock %}

 {% block list %}
    <div class="sidenav">
        {% get_category_list category %}
    </div>
    {% endblock %}