{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}

{% block body_block %}
            <div style="color:white;">

    <h1>Join us</h1>
    {% if registered %}
        <strong>Thank you for signing up!</strong>
    {% else %}
         <strong>Sign up here!</strong><br />
        <form id="user_form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

    <button type="submit" class="registerbtn" >Sign up</button>
    </form>
    {% endif %}
                <div/>

{% endblock %}
