{% extends 'fashionpointapp/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Join us</h1>
    {% if registered %}
        FashionPointapp says: <strong>Thank you for signing up!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
        FashionPointapp says: <strong>Sign up here!</strong><br />
        <form id="form" method="post" action="{% url 'signup' %}"
            enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display each form -->
        {{ form.as_p }}

        <!-- Provide a button to click to submit the form. -->
       <input type="submit" name="submit" value="signup" />
    </form>
    {% endif %}
{% endblock %}
